
       <div class='table-responsive'>
            <table class='table'
                   *ngIf='projects && projects.length'>
                <tbody>
                    <tr *ngFor="let project of projects"  >
               
                        <td style="width:10%">{{ project.name | uppercase }}</td>
                        <td style="width:5%"  *ngFor="let interval of project.intervals">
                          {{interval.intervalValue}}
                        </td>

                    </tr>
                </tbody>
            </table>


