<div class="outer-container">
        <div class="inner-container">
            <div class="table-header">
                <table id="headertable">
                    <thead>
                        <tr>
                            <th class="header-cell col1">One</th>
                            <th class="header-cell col2">Two</th>
                            <th class="header-cell col3">Three</th>
                            <th class="header-cell col4">Four</th>
                            <th class="header-cell col5">Five</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-body">
                <table id="bodytable">
                    <tbody>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        <tr>
                            <td class="body-cell col1">body row1</td>
                            <td class="body-cell col2">body row2</td>
                            <td class="body-cell col3">body row2</td>
                            <td class="body-cell col4">body row2</td>
                            <td class="body-cell col5">body row2 en nog meer</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>