<div>
    
    <div class="">
        <header-row [_resPlans]= resPlans></header-row>
        <div class="table-body">
        <table class="resTable">
          
            <tbody *ngFor="let resPlan of resPlans">
                <collapsible-well>
                    <div well-title>
                        <tr>

                            <td>
                                <h4>
                                   <div class="body-cell col1" >{{resPlan.name}}</div>
                                </h4>
                            </td>
                             <td  *ngFor="let interval of resPlan.projects[0].intervals; let i = index" >
                                <div class="body-cell col" >
                                   {{sumRows(resPlan, i )}}  
                                </div>
                            </td> 




                        </tr>
                    </div>
                    <div well-body>
                        <tr *ngFor="let project of resPlan.projects">

                            <td>
                                <div class="body-cell col1"> {{project.name}} </div>

                            </td>
                            <td *ngFor="let interval of project.intervals">
                           
                                      <div class="body-cell col" >
                                        <input type="text" value="{{interval.intervalValue}}" style="max-width:100%"/>
                                    </div>
                               
                            </td>
                        </tr>
                    </div>
                </collapsible-well>

            </tbody>

        </table>
        </div>
    </div>
</div>