<table class="table table-bordered">

    <tbody *ngFor="let resPlan of resPlans">
        <collapsible-foo>
            <div foo-title>
                <tr>

                    <td>
                        {{resPlan.name}}
                    </td>
                    <td *ngFor="let interval of resPlan.projects[0].intervals">

                    </td>

                </tr>
            </div>
            <div foo-body>
                <tr *ngFor="let project of resPlan.projects">

                    <td>
                        {{project.name}}

                    </td>
                    <td *ngFor="let interval of project.intervals">
                        {{interval.intervalValue}}
                    </td>
                </tr>
            </div>
        </collapsible-foo>

    </tbody>

</table>