<form class="form-horizontal" novalidate (ngSubmit)="savePlans()" [formGroup]="mainForm">
    <div formArrayName="resPlans">
        <div *ngFor="let plan of resPlans.controls;index as i">
            <div [formGroupName]="i">
                <input formControlName="name" placeholder="First name">
                <input formControlName="id" placeholder="id" style='display:none'>
                <div formArrayName="projects">
                    <div *ngFor="let proj of plan.get('projects').controls;index as j">
                        <div [formGroupName]="j">
                            <input formControlName="name" placeholder="project" />
                            <div formArrayName="intervals">
                                <div *ngFor="let intrvl of proj.get('intervals').controls; index as k">
                                    <div [formGroupName]="k">
                                        <input formControlName="intervalValue" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div formArrayName="totals">
                    <div *ngFor="let total of plan.get('totals').controls;index as l">
                        <div [formGroupName]="l">
                            <input formControlName="intervalValue" placeholder="intervalValue" />
                            
                        </div>
                    </div>
                </div>
            </div>
          
            
        <button type ="button" (click) = "calculateTotals(plan)">calculate Totals</button>
        </div>
        
    </div>
            <button class="btn btn-primary" type="submit"> Save   </button>

  <button type ="submit" class="btn btn-primary" (click) = "savePlans()"> Submit  </button>
</form>
<hr><br>



<!-- 
<button class="btn btn-primary" (click)="addResPlan()">Add a Resource Plan</button>
<button class="btn btn-primary" (click)="addProject()">Add a project</button> -->

<br>Dirty: {{ resPlans.dirty }}
<br>Touched: {{ resPlans.touched }}
<br>hello world


<br>gg: {{ resPlans.get('0.firstName')?.value }}
<br>gg: {{ resPlans.get('1.firstName')?.value }}
<br>gg: {{ resPlans.get('2.firstName')?.value }}
<br>gg: {{ resPlans.get('3.firstName')?.value }}