                   <tr>
                        <td>
                        {{resPlan.name}}
                        </td>
                        <td *ngFor="let interval of resPlan.projects[0].intervals"><td>
                    </tr>
                    <tr *ngFor="let project of resPlan.projects"  >
               
                        <td>{{ project.name | uppercase }}</td>
                        <td *ngFor="let interval of project.intervals">
                          {{interval.intervalValue}}
                        </td>

                    </tr>
                    
                

