<div style="margin: auto; width: auto;">
    <data-table id="resources-grid"
        headerTitle="Resources"
        [items]="resourceList"
        [itemCount]="resourcesCount"
        (reload)="reloadResources($event)"
        (rowClick)="rowClick($event)"
        [limit]="8"
        [sortBy]="'rating'"
        [sortAsc]="false"

        [selectColumn]="true"
        [multiSelect]="true"
        [substituteRows]="false"
        [expandableRows]="true"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
        <!-- <template #dataTableExpand let-item="item">
            <div [textContent]="item.description" style="padding: 5px; color: gray"></div>
        </template> -->
         <data-table-column
            [property]="'resUid'"
            [header]="'Resource Uid'"
            [sortable]="true"
            [visible] ="false"
            >
            
        </data-table-column>
        <data-table-column
            [property]="'resName'"
            [header]="'Resource Name'"
            [sortable]="true"
            >
            
        </data-table-column>
        
    </data-table>
</div>
