/* You can add global styles to this file, and also import other style files */

li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}

li { 
    cursor: pointer; 
}



/* Fade transition */
/*pm-app div {
    animation-duration: .5s;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}*/

/* Slide transition */
pm-app div.panel.panel-primary {
    animation-duration: .5s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

 @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
 @import '~/./ResourcePlans/res-plan-list.component.scss';
 
@keyframes slideIn {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
}

/* Spinner */
.spinner {
  font-size:400%;
  position: relative;;
  /*top: 50%; */
  margin-top: 20%;
  /*left: 50%; */
  margin-left: 50%;
  z-index:10
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media print {
    *,input,table,tr,th,button, body, .table-body {
    -webkit-print-color-adjust: exact !important;
    max-width: 100%;
    margin: 0;
    }
    .totalGreen {
        -webkit-print-color-adjust: exact !important;
        background-color: rgb(191, 230,191) !important;
    }

    .totalRed {
        -webkit-print-color-adjust: exact !important;
        background-color: #f3a2a2 !important;
    }
    
    div.well.pointable:first-of-type {
        padding-top: 1em;
    }

    div.well.pointable {
        margin:0;
        padding: 0;
    }
    div[class="well"] {
        margin:0
    }
    div[class="pointable"] {
        margin:0
    }

    @page{
    size: 17in 11in;
    page-break-after: always;
    margin: 0;     
    }

    table.table{
        margin-left: 0;
        margin-right: 0;
        position: left;
        margin-bottom: 0;
    }

    #title-bar{
        display: none;
    }
    #status-bar{
        display: none;
    }
    #navigation{
        display:none;
    }
    .menu-item{
        display:none;
    }
    div#button-header {
        display: none;
        visibility: hidden
    }
    button.btn.btn-primary{
        display: none;
    }
    .table-body{
        margin:0;
    }
    .dateWindow{
        position: fixed;
    }
}